@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: un estilo base para que la letra se vea moderna */
body {
  background-color: #f3f4f6; /* Un gris muy clarito de fondo */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes gradient-x {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 3s ease infinite;
}